@mixin font-face($name, $path, $weight: null, $style: null, $exts: otf eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@include font-face(Hero, "../fonts/HeroLight");
@include font-face(Ribbon, "../fonts/CyrillicRibbon");

$main-font-family: Hero, Arial, Helvetica, sans-serif;
$secondary-font-family: Verdana, Arial, Helvetica, sans-serif;
$handwriting-font-family: Ribbon, Arial, Helvetica, sans-serif;

$color-dark-main: #071e2d;
$color-dark-secondary: #2d0d44;
$color-light-main: #fffde0;
$color-light-secondary: #effcfc;
